// .login-left {
//   width: 45%;
//   background: #003153;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   .login-top-svg {
//     position: absolute;
//     left: 28.44%;
//     right: 0;
//     top: 0;
//     /* bottom: -117.33%; */
//     opacity: 0.8;
//     /* transform: rotate(-0.35deg); */
//   }
//   .login-logo {
//     transform: translate(-120px, -60px);
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     .xmt {
//       font-family: "Manrope";
//       font-style: normal;
//       font-weight: 800;
//       font-size: 70.8608px;
//       line-height: 40px;
//       color: #ffffff;
//     }
//     .txtlogo {
//       font-family: "Manrope";
//       font-style: normal;
//       font-weight: 500;
//       font-size: 30px;
//       line-height: 50px;
//       /* identical to box height, or 156% */

//       color: #ffffff;
//     }
//   }
// }
.login-left {
  width: 45%;
  background: #003153;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-top-svg {
    position: absolute;
    left: 23.44%;
    right: 0;
    top: 0;
    /* bottom: -117.33%; */
    opacity: 0.8;
    /* transform: rotate(-0.35deg); */
  }
  .login-logo {
    transform: translate(-66px, -60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .xmt {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 800;
      font-size: 70.8608px;
      line-height: 33px;
      color: #ffffff;
    }
    .txtlogo {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 40px;
      /* identical to box height, or 156% */

      color: #ffffff;
    }
  }
}

.login {
  background: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  // .login-left {
  //   width: 45%;
  //   background: #003153;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   .login-top-svg {
  //     position: absolute;
  //     left: 23.44%;
  //     right: 0;
  //     top: 0;
  //     /* bottom: -117.33%; */
  //     opacity: 0.8;
  //     /* transform: rotate(-0.35deg); */
  //   }
  //   .login-logo {
  //     transform: translate(-66px, -60px);
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //     .xmt {
  //       font-family: "Manrope";
  //       font-style: normal;
  //       font-weight: 800;
  //       font-size: 70.8608px;
  //       line-height: 33px;
  //       color: #ffffff;
  //     }
  //     .txtlogo {
  //       font-family: "Manrope";
  //       font-style: normal;
  //       font-weight: 500;
  //       font-size: 30px;
  //       line-height: 40px;
  //       /* identical to box height, or 156% */

  //       color: #ffffff;
  //     }
  //   }
  // }
  // .signup-right{
  //   background-color: rebeccapurple;
  //   width: 55%;
  //   height: 100%;
  // }
  .login-right {
    width: 55%;
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    .login-div {
      //   background-color: rebeccapurple;
      transform: translate(-4rem, -4rem);
      .login-head {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 800;
        font-size: 48.3593px;
        line-height: 58px;
        color: #003153;
      }
      .login-line {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 600;
        font-size: 21.9912px;
        line-height: 3rem;
        /* identical to box height, or 120% */

        color: #003153;
      }
      .login-secline {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 600;
        font-size: 21.9912px;
        line-height: 26px;
        /* identical to box height, or 120% */

        text-align: right;
        text-decoration-line: underline;

        color: #10e7dc;
      }
    }
    .login-form {
      // background-color: rebeccapurple;

      .ant-form label {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 700;
        font-size: 15.549px;
        line-height: 31px;
        /* or 200% */

        color: #003153;
      }
      .ant-input {
        background: #ffffff;
        border: 1px solid #0a7e8c;
        box-sizing: border-box;
        border-radius: 5.18299px;
        width: 25rem;

        // font-feature-settings: "tnum", "tnum";
        // background-color: #fff;
        // background-image: none;
        // border: 1px solid #d9d9d9;
        // border-radius: 2px;
        // box-sizing: border-box;
        // color: rgba(0, 0, 0, 0.85);
        // display: inline-block;
        // font-size: 14px;
        // font-variant: tabular-nums;
        // line-height: 1.5715;
        // list-style: none;
        // margin: 0;
        // min-width: 0;
        // padding: 4px 11px;
        // position: relative;
        // transition: all 0.3s;
      }
      .forgot-pass {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 600;
        font-size: 11.8067px;
        line-height: 14px;
        /* identical to box height, or 120% */

        text-decoration-line: underline;

        color: #10e7dc;
        // padding: ;
      }
      .ant-btn {
        width: 25rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: #003153;
        // opacity: 0.3;
        border-radius: 5px;
      }
    }
  }
}
.login-bottom-svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 326px;
}

.signup {
  background: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  // background-color: red;
  .signup-right {
    width: 55%;
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    .signup-div {
      transform: translate(2rem, -14rem);
      // background-color: rebeccapurple;
      width: 39rem;
      padding-top: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      // height: 25rem;
      .signup-head {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 800;
        font-size: 48.3593px;
        line-height: 58px;
        color: #003153;
      }
      .signup-form {
        // background-color: red;
        .stepper-cls {
          background: #e5e5e5;
        }
      }
      // .signup-inputs {
      // }
    }
  }
}
// .ant-input-lg {
//   font-size: 16px;
//   padding: 6.5px 11px;
// }
// .ant-input {
//   font-feature-settings: "tnum", "tnum";
//   background-color: #fff;
//   background-image: none;
//   border: 1px solid #d9d9d9;
//   border-radius: 2px;
//   box-sizing: border-box;
//   color: rgba(0, 0, 0, 0.85);
//   display: inline-block;
//   font-size: 14px;
//   font-variant: tabular-nums;
//   line-height: 1.5715;
//   list-style: none;
//   margin: 0;
//   min-width: 0;
//   padding: 4px 11px;
//   position: relative;
//   transition: all 0.3s;
//   width: 100%;
// }


//media query---------------->

@media (max-width:980px) {
  .login .login-right .login-div {
    transform: translate(0rem, -4rem);
}
.login .login-left .login-top-svg {
  position: absolute;
  left: 23.44%;
  right: 0;
  width: 12rem;
  top: 0;
  /* bottom: -117.33%; */
  opacity: 0.8;
  /* transform: rotate(-0.35deg); */
}
.login-bottom-svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 14rem;
}
.login .login-left .login-logo .xmt {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  line-height: 33px;
  color: #ffffff;
}
.login .login-left .login-logo .txtlogo {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #ffffff;
}
}